<div id="<%= dom_id recipe %>" class="recipe-card">
   <div class="summary">
       <%= recipe.name %>
       <div class="btns">
      <%= link_to "Remove", recipe, :confirm => "Are you sure?", :method => :delete %>
      <%= link_to "View details", recipe %>
       </div> 
   </div>
   <div class="description">
     <%= recipe.description %>
   </div>
</div>
