<tr id="<%= dom_id food %>">
    <td> <%= food.name %></td>
    <td><%= food.measurement_unit %></td>
    <td><%= food.price %></td>
    <td>  
     <button><%= link_to "Delete", food, :confirm => "Are you sure?", :method => :delete %></button>            
    </td>
</tr>

